
<table class='rides-by-month'>
  <tr>
    <th>Month</th>
    <th>Number of Rides</th>
  </tr>
  <% @trips.rides_by_month.each do |month, count| %>
    <tr>
      <td><%= month[1] %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
<table class='rides-by-year'>
  <tr>
    <th>Yearly Subtotal</th>
    <th>Number of Rides</th>
  </tr>
  <% @trips.rides_by_year.each do |year, count| %>
    <tr>
      <td><%= year %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
