<div class="container-color sky-blue">
  <div class="row">
    <div class="col-4 navy-background">
      <div class="small-row">
        <h1>Edit <%= @item.title %></h1>
      </div>
      <div class="small-row">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
