<p><strong>Station Name:</strong> <%= @station.name %></p>
<p><strong>Dock Count:</strong> <%= @station.dock_count %></p>
<p><strong>City:</strong> <%= @station.city %></p>
<p><strong>Installation Date:</strong> <%= @station.installation_date %></p>
