<div class="container-fixed">
  <div class="row">
    <div class="col-4">
      <h3><%= @station.name %></h3>

      <p>Dock Count:</strong> <%= @station.dock_count %>
      <p>City:</strong> <%= @station.city %>
      <p>Installation Date:</strong> <%= @station.installation_date %>
    </div>
  </div>
</div>
