<div class="container-color sky-blue">
  <div class="row">
    <div class="col-4 navy-background">
      <div class="small-row">
        <h2>Edit <%= @station.id %></h2>
      </div>
      <div class="small-row">
        <%= render partial: "form" %>
    
      </div>

    </div>

  </div>

</div>
