<div class="container-color sky-blue">
  <div class="row">
    <div class="col-4 navy-background centered">
      <h2>Edit <%= @trip.id %></h2>

      <%= render partial: "form" %>

    </div>

  </div>

</div>
