<% content_for :for_head do %>
  <title>BikeCrash</title>
<% end %>
<div class='page-not-found'>

  <h1>Oops!</h1>
  <h3>There was a stick in the spokes!</h3>
  <p>The server could not handle your request.</p>
  <img src="https://ep1.pinkbike.org/p4pb1718400/p4pb1718400.jpg" />
</div>
