<% content_for :for_head do %>
  <title>BikeCrash</title>
<% end %>
<div class='page-not-found'>

  <h1>Oops!</h1>
  <h3>The page you were looking for doesn't exist.</h3>
  <p>You may have mistyped the address or the page may have moved.</p>
  <img src="https://ep1.pinkbike.org/p4pb1718400/p4pb1718400.jpg" />
</div>
